<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Search"></Label>
</ActionBar>

<StackLayout class="page page-content" #layout> <!-- #Layout es una variable de plantilla que se podrá usar aqui o en TS-->
    <Label class="page__content-icon fas" text="&#xf002;"></Label>
   <SearchForm (search)="buscarAhora($event)" ></SearchForm> <!--Instancia de
     Searchform que dibuja una barra de busqueda usando la funcion buscarAhora del search.component. TS
    el cual usa como parámetro $event que es lo que ingresaron en el momento en el textbox-->

    
        <ListView class="list-group" [items]="this.resultados" (itemTap)="onItemTap($event)" 
        style="height:1250px"> <!--Cada vez que se haga un Tab, le pasamos mediante la funcion "onItemTap"(declarada en el ts) y logeamos ese tap-->
            <ng-template let-x="item"> 
                <FlexboxLayout flexDirection="row" class="list-group-item" >
                    <Image src="res://icon" class="thumb img-circle"></Image> <!--res(resource) es un protocolo para utilizar los archivos que guardo localmente, img-->
                    <Label [text]="x" class="list-group-item-heading"
                    verticalAlignment="center" style="width: 60%" ></Label>
                </FlexboxLayout>

            </ng-template>    
                
        </ListView> 


</StackLayout>